name: Abismal builds on Ubuntu

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Install dependencies
      run: sudo apt-get install -y libhts-dev
    - name: Generate configure script
      run: ./autogen.sh
    - name: configure for GCC
      run: ./configure CXX="g++"
    - name: make with g++
      run: make
    - name: cleanup after GCC
      run: make distclean
    - name: install Clang dependencies
      run: sudo apt-get install -y libomp-dev
    - name: configure for Clang
      run: ./configure CXX="clang++"
    - name: make with clang++
      run: make
    - name: cleanup after clang++
      run: make clean
